// output: bubble.html
svg.app-bubble-halo(viewbox="0,0,100,100")
  circle(cx="50",cy="50",r="49",
      ng-style="{'stroke': appBubble.outlinecolor, 'stroke-width': appBubble.outlinecolor ? 1 : undefined}")
.app-bubble-content
  h4.app-bubble-label(
      ng-style="{'color': appBubble.color}"
    ) {{appBubble.label}}
  img.app-bubble-img(ng-src="{{appBubble.svgUrl}}")
  .app-bubble-button
    a.btn.btn-default(
        ng-href="{{appBubble.buttonlink}}"
        ng-style="{'border-color': appBubble.color}"
      ) {{appBubble.buttontext}}
