//output: location.html
g(ng-class="['app-location', {'app-with-metrics': appLocation.hasMetrics(), 'app-highlighted': appLocation.isHighlighted()}]",
  ng-transclude,
  ng-mouseenter="appLocation.highlightLocation()"
  ng-mouseleave="appLocation.unhighlightLocation()")
