//output: index.html
doctype html
html
  head
    link(rel="stylesheet",href="assets/stylesheets/main.min.css")
    script(data-main="assets/scripts/main.js",src="assets/scripts/ext/require.min.js")
    
    
  title E-Mobility Battery Performance Visualization
    
  body(ng-controller="appMain as main")
    
    app-routes(all="main.routes",current="main.currentRoute",title="Views")
    
    .app-grid
      
      nav.navbar.navbar-default.navbar-fixed-top("role=navigation")
        button.btn-group.btn.btn-default(
            type="button",
            data-toggle="modal",
            data-target="#app-nav-views"
          )
          span.glyphicon.glyphicon-menu-hamburger
        h1 Visualizing E-Mobility Battery Performance
          small &nbsp; Project in my Udacity Data Analyst Nanodegree
        .app-bs
          img(src="assets/images/bs_picture.gif")
          a(href="http://www.benkku.com") by Benjamin <br /> S&ouml;llner
  
      ng-view

    a.app-feedback.modal-content.modal-header.btn.btn-default(href="https://docs.google.com/forms/d/1QYO6jHJhTl4bjxkh0eHk51biyYBS2C5d_fYuI3cYiVo/viewform")  
      span.glyphicon.glyphicon-comment &nbsp;
      span Give Feedback
