//output: index.html
doctype html
html
  head
    link(rel="stylesheet",href="assets/stylesheets/master.min.css")
    script(src="assets/javascripts/ext/jquery-1.12.2.min.js")
    script(src="assets/javascripts/ext-bootstrap/bootstrap.min.js")
    script(src="assets/javascripts/ext/underscore.min.js")
    script(src="assets/javascripts/ext/d3.min.js")
    script(src="assets/javascripts/ext/angular.min.js")
    script(src="assets/javascripts/ext/angular-route.min.js")
    script(src="assets/javascripts/ext-resize-sensor/ElementQueries.js")
    script(src="assets/javascripts/ext-resize-sensor/ResizeSensor.js")
    script(src="assets/javascripts/app-chart/chart.js")
    script(src="assets/javascripts/app-modules/dand6-series.js")
    script(src="assets/javascripts/app-modules/dand6-chart.js")
    script(src="assets/javascripts/app-modules/dand6.js")
    
  title E-Mobility Battery Performance Visualization
    
  body(ng-app="app-dand6",ng-controller="appMain as main")
    
    app-routes(all="main.routes",current="main.currentRoute",title="Views")
    
    .app-grid
      
      nav.navbar.navbar-default.navbar-fixed-top("role=navigation")
        button.btn-group.btn.btn-default(
            type="button",
            data-toggle="modal",
            data-target="#app-nav-views"
          )
          span.glyphicon.glyphicon-menu-hamburger
        h1 Visualizing E-Mobility Battery Performance
          small &nbsp; Part of the Udacity Data Analyst Nanodegree
        .app-bs
          img(src="assets/images/bs_picture.gif")
          a(href="http://www.benkku.com") by Benjamin <br /> S&ouml;llner
  
      ng-view
