//output: doc.html
//- API Documentation
.app-view#app-doc
  //- Grab this from an independent HTML file in the doc folder
  iframe(src="doc/index.html")
    //- If iframe is not working, show a link 
    a(href="doc/index.html") Click here to read the JS API documentation...
