
<div id="app-explain" class="app-view">
  <div class="app-view-column-left">
    <h2 class="app-summary-title">Heat and State-of-Charge Development of Hybrid Car Batteries in Different Conditions </h2>
    <div ng-if="appExplain.summary" class="app-summary-chart">
      <app-summary data="appExplain.summary[0]" highlights="appExplain.highlights"></app-summary>
    </div>
  </div>
  <div class="app-view-column-right">
    <app-stories ng-if="appExplain.stories" stories="appExplain.stories" story="appExplain.selectedStory" highlights="appExplain.highlights" autohide="false" explore="true"></app-stories>
    <div ng-if="appExplain.stories &amp;&amp; appExplain.highlights.looseness == 2" class="app-summary-explore">
      <h3>Explore the following battery simulation data sets:</h3>
      <div>
        <p>Sportive Driving (Accelerate & Break + WLTP Cycle)</p><a style="color: #33a02c" ng-href="#!explore?scenarioId=acceleratenbreak" class="btn btn-lg btn-default">Explore</a>
      </div>
      <div>
        <p>Normal Driving + Range (NEFZ Certification Cycle)</p><a style="color: #e31a1c" ng-href="#!explore?scenarioId=rangecert" class="btn btn-lg btn-default">Explore</a>
      </div>
      <div>
        <p>Harsh Winter Conditions</p><a style="color: #1f78b4" ng-href="#!explore?scenarioId=winter" class="btn btn-lg btn-default">Explore</a>
      </div>
    </div>
  </div>
</div>