//output: explain.html

h3 Explanatory Visualization...

p Here we will have some explanatory visualization first...

p Check out if this button leads right to the exploratory visualization:

a.btn.btn-primary(ng-href="#!/explore") Click me...
