//output: whitepaper.html
//- Project Documentation
.app-view#app-whitepaper
  //- Grab this from an independent HTML file in the report folder
  iframe(src="whitepaper/Data_Analyst_Project_6_-_Visualizing_E-Mobility_Data_in_D3.html")
    //- If iframe is not working, show a link 
    a(href="whitepaper/Data_Analyst_Project_6_-_Visualizing_E-Mobility_Data_in_D3.html") Click here to read the project report...
