// Navigation

.app-nav.modal
  &.fade .modal-dialog
    @include notransform()
    .modal-content
      @include transition-transform(all 0.3s ease-in-out)
      left: -10%
  &.fade.in .modal-dialog
    @include notransform()
    .modal-content
      @include transition-transform(all 0.3s ease-in-out)
      left: 0%

  .modal-content
    border-radius: 0px
    position: fixed
    top: 0px
    height: 100vh
    width: 20%

// Main Grids

body
  padding: 0px
  padding-top: 60px

ng-view, .app-view, .app-grid
  height: 100%

.app-grid
  display: flex
  flex-direction: column

  nav
    display: flex
    flex-direction: row
    padding: 10px
    height: 40px
    button
      width: auto
      padding: 5px
      padding-left: 10px
      padding-right: 10px
    h1
      flex-grow: 1
      font-size: 30px
      margin: 0px
      padding-left: 5px
      padding-right: 5px
      white-space: nowrap

  ng-view
    flex-grow: 1
    display: flex
    flex-direction: row

    .app-view
      &#app-explore
        display: flex
        flex-grow: 1
        flex-direction: row

      .app-view-panel
        flex-grow: 1
        overflow: hidden
        margin-top: 5px

// View Grid

.app-view-col-2
  width: 50%
  margin-left: 5px
  margin-top: 5px
  display: flex
  flex-direction: column

.app-view-content
  flex-grow: 1
  display: flex
  flex-direction: column
  overflow: auto

.app-view-control
  display: flex
  flex-direction: row

  app-dropdown
    flex-grow: 1
    button, ul
      width: 100%

  .dropdown-toggle, .dropdown-menu
    text-align: left
  .dropdown-menu
    //margin-top: -3px
  .dropdown-menu.bullet:before
    left: 50%
  .dropdown-menu.bullet:after
    left: 50%
    margin-left: 1px

// Explanatory View
.app-view#app-explain
  padding: 10px

// Exploratory View
.app-view#app-explore
  padding-left: 10px
  padding-right: 10px

// Documentation View
.app-view#app-report
  width: 100%
  height: 100%
  position: relative

  iframe
    flex-grow: 1
    position: absolute
    outline: none
    border: none
    min-height: 100%
    width: 100%
