
<div id="app-nav-views" tabindex="-1" role="dialog" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close">&times;</button>
        <h4 class="modal-title">Views</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{active: main.$route.current.id=='explain'}"><a href="#!/explain" onclick="$(this).parents('.modal').modal('hide')">Introduction to E-Mobility</a></li>
          <li ng-class="{active: main.$route.current.id=='explore'}"><a href="#!/explore" onclick="$(this).parents('.modal').modal('hide')">Explore Car Batteries!</a></li>
          <li ng-class="{active: main.$route.current.id=='doc'}"><a href="#!/doc" onclick="$(this).parents('.modal').modal('hide')">Project Documentation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>