//output: app-location.html
g(ng-class="['app-location', {'app-with-metrics': hasMetrics(), 'app-highlighted': isHighlighted()}]",
  ng-transclude,
  ng-mouseenter="highlightLocation()"
  ng-mouseleave="unhighlightLocation()")
