// output: Data_Analyst_Project_6_-_Visualizing_E-Mobility_Data_in_D3.html
doctype html
html
  head
    title Data Analyst Nanodegree Project 6 - Visualizing Electric Car Battery Performance in D3
  body
    h1 This will be the project report

    p Until we put something meaningful here, please feel free to watch the video:
    
    iframe(width="560",height="315",src="https://www.youtube.com/embed/WeySfLkMOio",frameborder="0",allowfullscreen)
