
// Metrics column


.app-metric
  flex-grow: 1
  rect.plot
    fill: #eeeeee
    cursor: all-scroll
  rect.axis
    fill: transparent
  rect.x.axis
    cursor: ew-resize
  rect.y.axis
    cursor: ns-resize
  text.x.label
  text.y.label
  svg.series
    path
      stroke: black
      stroke-width: 2
    &.highlighted
      path
        stroke-width: 4
  g.tick
    line
      stroke: #ccc
      &.zero
        stroke: #aaa
    text
