.app-grid
  display: flex
  flex-direction: row

  .app-view
    flex-basis: 80%
    flex-grow: 1

#app-nav-views.modal
  &.fade .modal-dialog
    @include notransform()
    .modal-content
      @include transition-transform(all 0.3s ease-in-out)
      left: -10%
  &.fade.in .modal-dialog
    @include notransform()
    .modal-content
      @include transition-transform(all 0.3s ease-in-out)
      left: 0%

  .modal-content
    border-radius: 0px
    position: fixed
    top: 0px
    height: 100vh
    width: 20%

#app-nav-hamburger
  width: auto
  padding: 5px

#app-explore.app-view
  display: flex
  flex-direction: row

  .app-view-col-2
    width: 50%
    display: flex
    flex-direction: column

  .app-view-control
    padding: 5px
    width: 100%
    .dropdown-toggle, .dropdown-menu
      width: 100%
      text-align: left
    .dropdown-menu
      margin-top: -3px
    .dropdown-menu.bullet:before
      left: 50%
    .dropdown-menu.bullet:after
      left: 50%
      margin-left: 1px

  .app-view-panel
    padding: 5px

    svg
      padding: 20px
      max-height: 50vh

.app-dummy
  width: 400px
  height: 100px
  padding: 10px
  margin-bottom: 10px
  border: 2px solid blue

.app-hide
  display: none
