app-schematics svg
  g.app-location
    &.app-with-metrics *
      fill: #ddd !important
      cursor: pointer
    &.app-highlighted *
      stroke-width: 3px !important

app-metric svg
  .axis path, .axis line
    fill: none
    stroke: #000
    shape-rendering: crispEdges

  .line
    fill: none
    stroke: blue
    stroke-width: 1.5px
