//output: AppDropdown.html
button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
  span(ng-if="!appDropdown.isPlaceholder") {{appDropdown.display}} 
  span.ng-placeholder(ng-if="appDropdown.isPlaceholder") {{appDropdown.placeholder}} 
  span.caret
ul.dropdown-menu.bullet
  li(ng-repeat="item in appDropdown.list",ng-click="appDropdown.select(item)",ng-class="{active: appDropdown.isSelected(item)}")
    a(href="") {{appDropdown.property !== undefined ? item[appDropdown.property] : item}}
