//output: AppSeries.html
//- app-series is a directive applied to the inside of a SVG designed with
//- Inkscape. The directive's controller manipulates the DOM of the transcluded
//- SVG element. 
ng-transclude
