//output: AppSchematics.html
//- app-schematics directive includes an SVG and then manipulates it with the 
//- controllers "loaded()" function. 
ng-include(src="appSchematics.getSrcUrl()",data-onload="appSchematics.loaded()")
